@import "tailwindcss";
@import "./Variables.css";

body {
  color: var(--text-color);
  background-color: var(--theme-color);
}

.inputForm {
  padding: 1rem;
  border: 1px solid var(--border-form-login-color);
  border-radius: 0.375rem;
  width: 100%;
  height: 100%;
}

.inputForm:active {
  border: 1px solid var(--border-form-login-active-color);
  border-radius: 0.375rem;
}

.loginButton {
  width: 100%;
  border-radius: 0.375rem;
  color:var(--highlight-text-color);
  border: 1px solid var(--highlight-text-color);
  padding: 0.5rem;
  font-weight: 600;
  cursor: pointer;
} 

.titleForm {
  color: var(--title-color);
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  font-weight: bold;
}

.border {
  border: 1px solid var(--text-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

.ultraThinBorder {
  border: 1px solid var(--ultra-thin-border-color);
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.gradientText {
  background: var(--gradient-text-color);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent; 
  }