:root {
  --text-color: #000000;
  --border-form-login-color: #4263b0;
  --border-form-login-active-color: #000000;
  --highlight-text-color: #4263b0;
  --title-color: #4263b0;
  --theme-color: #ffffff;
  --gradient-text-color: linear-gradient(90deg, rgba(66, 99, 176, 1) 0%, rgb(5, 77, 245) 100%);
  --completed-color: #16a34a;
  --pending-color: #f59e0b;
  --total-color: #1b1e22;
  --overdue-color: #dc2626;
  --ultra-thin-border-color: #f3f4f6;
  --priority-high-text: #991b1b;
  --priority-medium-text: #bd9328;
  --priority-low-text: #166534;
  --school-color: #1d4ed8;
  --work-color: #7c3aed;
  --personal-color: #0891b2;
  --others-color: #2d3035;
  --modal-bg: #ffffff;
  --chart-completed: #16a34a;
  --chart-pending: #f59e0b;
  --chart-overdue: #dc2626;
  --footer-bg: #f9fafb;
  --back-to-top-bg: #ffffff;
  --back-to-top-border: #e5e7eb;
  --back-to-top-icon: #6b7280;
  --back-to-top-shadow: rgba(0, 0, 0, 0.1);
  --back-to-top-bg-hover: #f9fafb;
  --back-to-top-icon-hover: #374151;
  --sidebar-bg: #ffffff;
  --sidebar-text: #374151;
  --sidebar-nav-item-bg: #f9fafb;
  --sidebar-nav-item-active: #4263b0;
  --sidebar-nav-item-hover-bg: #f3f4f6;
  --expired-color: #f2d4d4;
  --chart-completed-border: #15803d;
  --chart-pending-border: #d97706;
  --chart-overdue-border: #b91c1c;
  --icon-bg: #e9ebed;
}

.dark {
  --text-color: #ffffff;
  --border-form-login-color: #5eead4;
  --border-form-login-active-color: #7dd3fc;
  --highlight-text-color: #06b6d4;
  --title-color: #0891b2;
  --theme-color: #0f172a;
  --gradient-text-color: linear-gradient(90deg, rgba(94, 234, 212, 1) 0%, rgba(125, 211, 252, 1) 100%);
  --completed-color: #22c55e;
  --pending-color: #fbbf24;
  --total-color: #dbe3eb;
  --overdue-color: #ef4444;
  --ultra-thin-border-color: #4b5563;
  --priority-high-text: #fca5a5;
  --priority-medium-text: #fdba74;
  --priority-low-text: #86efac;
  --school-color: #60a5fa;
  --work-color: #a78bfa;
  --personal-color: #22d3ee;
  --others-color: #9ca3af;
  --modal-bg: #0f172a;
  --chart-completed: #22c55e;
  --chart-pending: #fbbf24;
  --chart-overdue: #ef4444;
  --footer-bg: #111827;
  --back-to-top-bg: #374151;
  --back-to-top-border: #4b5563;
  --back-to-top-icon: #d1d5db;
  --back-to-top-shadow: rgba(0, 0, 0, 0.3);
  --back-to-top-bg-hover: #4b5563;
  --back-to-top-icon-hover: #ffffff;
  --sidebar-bg: #0f172a;
  --sidebar-text: #f9fafb;
  --sidebar-nav-item-bg: #374151;
  --sidebar-nav-item-active: #01ccf5;
  --sidebar-nav-item-hover-bg: #374151;
  --expired-color: #450a0a;
  --chart-completed-border: #4ade80;
  --chart-pending-border: #fbbf24;
  --chart-overdue-border: #f87171;
  --icon-bg: #222935;
}

  
