:root {
  --text-color: #000000;
  --border-form-login-color: #4263b0;
  --border-form-login-active-color: #000000;
  --highlight-text-color: #4263b0;
  --title-color: #4263b0;
  --theme-color: #ffffff;
  --gradient-text-color: linear-gradient(90deg, rgba(66, 99, 176, 1) 0%, rgb(5, 77, 245) 100%);
  --completed-color: #16a34a;
  --pending-color: #f59e0b;
  --total-color: #1b1e22;
  --overdue-color: #dc2626;
  --ultra-thin-border-color: #f3f4f6;
  --priority-high-text: #991b1b;
  --priority-medium-text: #c2410c;
  --priority-low-text: #166534;
  --pulse-red-min: rgb(255, 0, 0);
  --pulse-red-max: rgb(143, 10, 10);
  --pulse-duration: 2s;
  --school-color: #1d4ed8;
  --work-color: #7c3aed;
  --personal-color: #0891b2;
  --others-color: #2d3035;
}

.dark {
  --text-color: #ffffff;
  --border-form-login-color: #5eead4;
  --border-form-login-active-color: #7dd3fc;
  --highlight-text-color: #06b6d4;
  --title-color: #0891b2;
  --theme-color: #0f172a;
  --gradient-text-color: linear-gradient(90deg, rgba(94, 234, 212, 1) 0%, rgba(125, 211, 252, 1) 100%);
  --completed-color: #22c55e;
  --pending-color: #fbbf24;
  --total-color: #dbe3eb;
  --overdue-color: #ef4444;
  --ultra-thin-border-color: #4b5563;
  --priority-high-text: #fca5a5;
  --priority-medium-text: #fdba74;
  --priority-low-text: #86efac;
  --pulse-red-min: rgb(255, 0, 0);
  --pulse-red-max: rgba(125, 18, 18, 0.9);
  --pulse-duration: 2s;
  --school-color: #60a5fa;
  --work-color: #a78bfa;
  --personal-color: #22d3ee;
  --others-color: #9ca3af;
}
  
